*{
    margin:0;
    padding:0;
    
    box-sizing: border-box;
}

body{
    background-image: url('./img/BG_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p, a, h1, h2, h3, h4, label, input{
    font-family: Arial, Helvetica, sans-serif;
    
}



.container{
    
    display:flex;
    align-items: center;
    min-height:100vh;
    margin-left:75px;
    
}

.input-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-container > label{
    font-weight:bold;
    color:rgb(52, 72, 255);
    font-size:1.44vmin;
    margin-right:20px;
}

.input-container > input{
    position:relative;
    z-index:1;
    padding:10px;
    width:100%;
}

.forgot-pass{
    text-decoration: none;
    font-size: 1.4vmin;
    
    
    margin: 20px 20px 20px 20px;

}

.login-form{
    display:flex;
    flex-direction: column;
    flex-basis: 10%;
}



.username-input{
    margin-bottom:20px;
    margin-right:-15px;
}





.see-password{
    
    margin-left:-30px;
    
    cursor:pointer;
    
    z-index:3;
    
}

.login-container{
    text-align: center;
    flex-direction: column;
    flex-basis:40%;
    justify-content: center;
    align-items: center;
    
    height:95vh;
    width:40%;
    
    display:flex;
    gap:40px;
    
    background-color: rgba(169,218,240, 0.5);
    border: 2px solid rgba(169,218,240, 0.5);
    border-radius:50px;
    padding:60px;
 }

 

.blank{
    
    flex-basis:80%;
}

.image-container{
    background-image: url('./img/Head_Logo.png');
    width:100%;
    height:auto;
    padding:200px;
}




.sign-in-button{
    width:50%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    outline: none;
    border-radius:10px;
    border: 2px solid rgb(0, 132, 255);
    background-color:rgb(0, 132, 255);
    padding:15px;
    color:white;
    cursor:pointer;
    font-size:1.44vmin;
}

.login-header{
    color:rgb(52, 72, 255);
    width:50%;
    padding-bottom:20px;
    border: solid  black;
    border-top:0;    
    border-left:0;
    border-right:0;
    font-weight:900;
    
}

.head-logo{
    width:50%;
    height:auto;
}

.footer{
   display:flex;
        flex-direction: column;
    gap:10px;
    line-height: .5em;
}
.footer p {
    font-size: .8vw;
}







@media all and (max-width:688px){

       .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:0;
        height:100vh;
    }
    .login-container{
        border-radius: 0;
        height:100%;
        width:100%;
        height:1000px;
        flex-basis:100%;

    }

    .head-logo{
        width:50px;
    }

    .blank{
        flex-basis:0%;
    }

   

    .footer p {
        font-size: 2.4vw;
    }

    .login-form  label, .sign-in-button, .forgot-pass{
        font-size:2.4vw;
    }

    
}

@media all and (max-width:1280px){
    .head-logo{
        width:30%;
    }
}









