*{
    margin:0;
    padding:0;
    
    box-sizing: border-box;
}

body{
    background-image: url('./img/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p, a, h1, h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
    
}



.container{
    
    display:flex;
    align-items: center;
    min-height:100vh;
    margin-left:75px;
    
}

.input-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-container > label{
    font-weight:bold;
    color:rgb(52, 72, 255);
    font-size:20px;
    margin-right:20px;
}

.input-container > input{
    position:relative;
    z-index:1;
    padding:10px;
}

.forgot-pass{
    text-decoration: none;
    font-size: 14px;
    margin-left:40px;
    margin: 20px 0 20px 40px;
}

.login-form{
    display:flex;
    flex-direction: column;
    flex-basis: 10%;
}

.username-input{
    margin-bottom:20px
}

.see-password{
    
    margin-left:-25px;
    margin-bottom:-5px;
    cursor:pointer;
    position:relative;
    z-index:2;
    
}

.login-container{
    text-align: center;
    flex-direction: column;
    flex-basis:40%;
    justify-content: center;
    align-items: center;
    height:100%;
    
    
    display:flex;
    gap:40px;
    
    background-color: rgba(168, 207, 255, 0.8);
    border: 2px solid rgba(168, 207, 255, 0.8);
    border-radius:50px;
    padding:60px;
    
}

.blank{
    
    flex-basis:80%;
}

.head-logo{
    max-width:10vw;
    min-width:9vw;
    height:auto;
    
    width:100%;
}




.sign-in-button{
    width:50%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    outline: none;
    border-radius:10px;
    border: 2px solid rgb(0, 132, 255);
    background-color:rgb(0, 132, 255);
    padding:15px;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.login-header{
    color:rgb(52, 72, 255);
    width:50%;
    padding-bottom:20px;
    border: solid  black;
    border-top:0;    
    border-left:0;
    border-right:0;
}

.footer{
    
    
    display:flex;
    
    flex-direction: column;
    gap:10px;
}








